.mailchimp-sign-up-form-wrapper {
  display: inline-block;
  width: 100%;

  @include mq(tabletp) {
    max-width: 50%;
  }

  @include mq(tabletl) {
    max-width: 40%;
  }

  @include mq(laptop) {
    max-width: 35%;
  }

  @include mq(desktop) {
    max-width: 25%;
  }
}
